<div class="layuimini-container">

    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon-speaker layui-icon"></i> 特别说明</div>
                    <div class="layui-card-body layui-text">
                        <div>请勿使用IE浏览器或者IE内核浏览器，推荐</div>
                        <br/>
                        <div class="layui-row">
                            <a href="https://www.microsoft.com/zh-cn/edge" target="_blank">EDGE浏览器</a>、
                            <a href="https://www.google.cn/intl/zh-CN/chrome/" target="_blank">谷歌浏览器</a>、
                            <a href="http://www.firefox.com.cn/" target="_blank">火狐浏览器</a>、
                            <a href="https://browser.360.cn/ee/" target="_blank">360极速浏览器</a>、
                            <a href="https://browser.qq.com/" target="_blank">QQ浏览器</a> 等
                        </div>
                        <br/>
                        <div class="layui-red">请保管好自己的帐号密码，不要将后台地址随便分享到其他平台或者聊天工具上</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon-about layui-icon"></i> 关于后台</div>
                    <div class="layui-card-body">
                        <p>后台采用开源 layuimini后台模板（单页版V2），尊重原作者劳动成果（MIT协议），博客系统只是在此基础上简单的修改</p>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-normal layui-btn-danger" href="https://layui.js.cn" target="_blank">layui开发文档地址</a>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-normal layui-bg-cyan" href="https://github.com/zhongshaofa/layuimini" target="_blank">layuimini GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>