@charset "utf-8";

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.woff2?t=1643096101935') format('woff2'), url('../fonts/iconfont.woff?t=1643096101935') format('woff'), url('../fonts/iconfont.ttf?t=1643096101935') format('truetype');
}

[class*=ui-editor-icon-] {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ui-editor-icon-unlink:before {
    content: "\e7b9";
}

.ui-editor-icon-link:before {
    content: "\e7ba";
}

.ui-editor-icon-auto:before {
    content: "\e71c";
}

.ui-editor-icon-subscript:before {
    content: "\e62e";
}

.ui-editor-icon-superscript:before {
    content: "\e62f";
}

.ui-editor-icon-undo:before {
    content: "\e6f0";
}

.ui-editor-icon-redo:before {
    content: "\e6f1";
}

.ui-editor-icon-video:before {
    content: "\e902";
}

.ui-editor-icon-search:before {
    content: "\e6f3";
}

.ui-editor-icon-bold:before {
    content: "\e6f5";
}

.ui-editor-icon-fontsize:before {
    content: "\e6f6";
}

.ui-editor-icon-italic:before {
    content: "\e6f7";
}

.ui-editor-icon-underline:before {
    content: "\e6f8";
}

.ui-editor-icon-strikethrough:before {
    content: "\e6fb";
}

.ui-editor-icon-fontcolor:before {
    content: "\e6fc";
}

.ui-editor-icon-bgcolor:before {
    content: "\e6fd";
}

.ui-editor-icon-hash:before {
    content: "\e700";
}

.ui-editor-icon-emoji:before {
    content: "\e701";
}

.ui-editor-icon-image:before {
    content: "\e65f";
}

.ui-editor-icon-table:before {
    content: "\e903";
}

.ui-editor-icon-code:before {
    content: "\e707";
}

.ui-editor-icon-headline:before {
    content: "\e708";
}

.ui-editor-icon-fontfamily:before {
    content: "\e70a";
}

.ui-editor-icon-line-height:before {
    content: "\e70b";
}

.ui-editor-icon-InsertUnorderedList:before {
    content: "\e65e";
}

.ui-editor-icon-InsertOrderedList:before {
    content: "\e660";
}

.ui-editor-icon-justifyleft:before {
    content: "\ec86";
}

.ui-editor-icon-justifyright:before {
    content: "\ec82";
}

.ui-editor-icon-justifycenter:before {
    content: "\ec80";
}

.ui-editor-icon-justifyfull:before {
    content: "\ec87";
}

.ui-editor-icon-close:before {
    content: "\e714";
}

.ui-editor-icon-check:before {
    content: "\e715";
}

.ui-editor-icon-upload:before {
    content: "\e717";
}

.ui-editor-icon-quote:before {
    content: "\e718";
}

.ui-editor-icon-at:before {
    content: "\e719";
}

.ui-editor-icon-annotation:before {
    content: "\e71a";
}

.ui-editor-icon-clipboard:before {
    content: "\e71b";
}

.ui-editor-icon-removeformat:before {
    content: "\e78d";
}

.ui-editor-icon-printer:before {
    content: "\e71e";
}

.ui-editor-icon-fullscreen:before {
    content: "\e721";
}

.ui-editor-icon-exit-fullscreen:before {
    content: "\e722";
}

.ui-editor-icon-save:before {
    content: "\e725";
}

.ui-editor-icon-eyedropper:before {
    content: "\e726";
}

.ui-editor-icon-file:before {
    content: "\e729";
}

.ui-editor-icon-audio:before {
    content: "\e72a";
}

.ui-editor-icon-format-painter:before {
    content: "\e72c";
}

.ui-editor-icon-preview:before {
    content: "\e72d";
}

.ui-editor-icon-omega:before {
    content: "\e730";
}

.ui-editor-icon-paragraph:before {
    content: "\e731";
}

.ui-editor-icon-zoom-in:before {
    content: "\e732";
}

.ui-editor-icon-zoom-out:before {
    content: "\e733";
}

.ui-editor-icon-about:before {
    content: "\e604";
}

.ui-editor-icon-indent:before {
    content: "\e647";
}

.ui-editor-icon-outdent:before {
    content: "\e644";
}

.ui-editor-icon-editlink:before {
    content: "\e634";
}

.ui-editor-icon-line:before {
    content: "\e901";
}

.ui-editor-icon-music:before {
    content: "\e900";
}

.ui-editor-icon-pagebreak:before {
    content: "\e609";
}

.ui-editor-icon-drag:before {
    content: "\e709";
}

.ui-editor-icon-deltable:before {
    content: "\e60c";
}

.ui-editor-icon-insertrowafter:before {
    content: "\e65c";
}

.ui-editor-icon-insertrowbefore:before {
    content: "\e661";
}

.ui-editor-icon-insertcolafter:before {
    content: "\e6b1";
}

.ui-editor-icon-insertcolbefore:before {
    content: "\e6b2";
}

.ui-editor-icon-delcol:before {
    content: "\e6b3";
}

.ui-editor-icon-delrow:before {
    content: "\e6b4";
}

.ui-editor-icon-mergecell:before {
    content: "\e65d";
}

.ui-editor-icon-html:before {
    content: "\e68f";
}

.ui-editor-icon-delete:before {
    content: "\e678";
}

.ui-editor-icon-canel:before {
    content: "\e749";
}

.ui-editor-icon-left:before {
    content: "\e67d";
}

.ui-editor-icon-right:before {
    content: "\e686";
}

.ui-editor-icon-before:before {
    content: "\e7fe";
}

.ui-editor-icon-after:before {
    content: "\e7fd";
}

.ui-editor-icon-clear:before {
    content: "\e704";
}

.ui-editor-icon-date:before {
    content: "\e61b";
}

.ui-editor-icon-down:before {
    content: "\e600";
}

.ui-editor-full {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
}

.ui-editor-wrap {
    border: 1px solid #E4E6E8;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px 0, rgba(0, 0, 0, 0.04) 0 0 0 1px;
    display: block;
}

.ui-editor-tool {
    background: #fafafa;
    line-height: 50px;
    border-bottom: 1px solid #E5E7E9;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    position: relative;
}

.ui-editor-tool-left {
    display: flex;
    padding: 8px 0 8px 0;
    position: relative;
    flex: 1;
    flex-wrap: wrap;
}

.ui-editor-tool-right {
    display: flex;
    padding: 8px 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.ui-editor-tool .ui-editor-icon {
    display: block;
    padding: 0 8px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #666;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui-editor-tool .ui-editor-icon i {
    font-size: 16px;
}

.ui-editor-tool .ui-editor-icon:hover {
    background: #E6F0F8;
    border-radius: 4px;
}

.ui-editor-tool .ui-editor-icon:hover i {
    color: #348FE4;
}

.ui-editor-tool .ui-editor-icon.active {
    background: #E6F0F8;
    border-radius: 4px;
}

.ui-editor-tool .ui-editor-icon.active i {
    color: #348FE4;
}

.ui-editor-tool .ui-editor-icon em {
    margin-left: 3px;
    display: inline-block;
    width: 6px;
    height: 4px;
    background: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22UTF-8%22%3F%3E%3Csvg width%3D%226px%22 height%3D%224px%22 viewBox%3D%220 0 6 4%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E %3Cg id%3D%22%E4%BC%98%E5%8C%96-web%22 stroke%3D%22none%22 stroke-width%3D%221%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22 opacity%3D%220.400000006%22%3E%3Cg id%3D%22excel_%E4%B8%BB%E6%A1%86%E6%9E%B6%22 transform%3D%22translate(-428.000000%2C -76.000000)%22 fill%3D%22%23000000%22 fill-rule%3D%22nonzero%22%3E%3Cpolygon id%3D%22%E5%B7%A5%E5%85%B7%E6%A0%8F%E4%B8%8B%E6%8B%89%E7%AE%AD%E5%A4%B4%22 points%3D%22428 76 434 76 431.011701 80%22%3E%3C%2Fpolygon%3E        %3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center
}

.ui-editor-tool .ui-editor-mid {
    position: relative;
    width: 5px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
    display: block;
}

.ui-editor-tool .ui-editor-mid:after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 26px;
    left: 0px;
    top: 5px;
    background: #eee
}

.ui-editor-tool .ui_editor-disabled {
    cursor: not-allowed !important
}

.ui-editor-tool .ui-editor-disabled:hover {
    background: none !important
}

.ui-editor-tool .ui-editor-disabled i, .ui-editor-tool .ui_editor-disabled em {
    opacity: 0.3
}

.ui-editor-tool .ui-editor-br {
    width: 100%;
    display: block;
}

.ui-editor-panel {
    position: fixed;
    box-shadow: 0 2px 12px 2px rgba(68, 73, 77, 0.16);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    max-width: 90%;
    min-width: 150px;
    display: none;
    top: 0px;
    z-index: 999;
    line-height: 24px;
    border-radius: 8px;
    font-size: 15px;
}

.ui-editor-panel .ui-editor-help {
    line-height: 28px;
    padding: 15px 20px;
}

.ui-editor-panel .ui-editor-help span {
    color: #999;
}

.ui-editor-panel .ui-editor-help a {
    color: #06C;
}

.ui-editor-panel .ui-editor-help a:hover {
    color: #f30;
}

.ui-editor-panel .ui-editor-emoji {
    display: flex;
    flex-wrap: wrap;
    width: 448px;
    max-width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.ui-editor-panel .ui-editor-emoji div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    border: 1px solid #fff;
    display: block;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI Emoji';
}

.ui-editor-panel .ui-editor-emoji div:hover {
    border-color: #eaeaea;
}

.ui-editor-panel .ui_editor_ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.ui-editor-panel .ui_editor_ul li {
    line-height: 40px;
    height: 40px;
    padding: 0 20px 0 15px;
    color: #5f6e8e;
}

.ui-editor-panel .ui_editor_ul li i {
    font-size: 20px;
    margin: 0 15px 0 0;
}

.ui-editor-panel .ui_editor_ul li:hover {
    background: #E6F0F8;
}

.ui-editor-panel .ui_editor_ul li.active {
    background: #E6F0F8;
    color: #348FE4 !important
}

.ui-editor-panel .ui_editor_ul li.active i {
    color: #348FE4;
}

.ui-editor-panel .ui_editor_ul_wrap {
    height: 300px;
    overflow-y: auto;
}

.ui-editor-panel .ui-editor-color {
    padding: 0;
}

.ui-editor-panel .ui-editor-color-box {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    padding: 10px;
}

.ui-editor-panel .ui-editor-color-box .ui-editor-color-item {
    height: 30px;
    margin: 0 0.5% 0.5% 0;
    width: 12%;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ui-editor-panel .ui-editor-color-box .ui-editor-color-item span {
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 4px;
    display: block;
}

.ui-editor-panel .ui-editor-color-box .ui-editor-color-item span i {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #f3f3f3;
}

.ui-editor-panel .ui-editor-color-box .ui-editor-color-item span:hover {
    border-color: #eaeaea;
    box-shadow: 0 0px 6px 0px rgba(68, 73, 77, 0.1);
}

.ui-editor-panel .ui-editor-color-self {
    display: flex;
    align-items: center;
    margin-top: 0px;
    border-top: 1px solid #f3f3f3;
    padding: 15px 0;
}

.ui-editor-panel .ui-editor-color-self span {
    display: block;
    padding: 0 8px 0 10px;
}

.ui-editor-panel .ui-editor-color-self span i {
    color: #999;
}

.ui-editor-panel .ui-editor-color-self input {
    background: #fff;
    margin: 0;
    border: 1px solid #eaeaea;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    height: 40px;
    line-height: 1;
    width: 100px;
    color: #333;
}

.ui-editor-panel .ui-editor-color-self button {
    background: #fff;
    margin: 0;
    border: 1px solid #eaeaea;
    border-left: 0;
    border-radius: 0;
    padding: 10px;
    height: 40px;
    line-height: 1;
    width: 70px;
    color: #666;
}

.ui-editor-panel .ui-editor-color-self button:last-child {
    border-radius: 0 4px 4px 0;
}

.ui-editor-panel .ui-editor-color-self button:hover {
    background: #348FE4;
    border-color: #348FE4;
    color: #fff;
}

.ui-editor-panel .ui-editor-table-box {
    position: relative;
    width: 190px;
    height: 214px;
    padding: 5px;
    overflow: hidden;
    z-index: 990;
}

.ui-editor-panel .ui-editor-table-on {
    position: absolute !important;
    top: 5px;
    left: 5px;
    z-index: 4;
    width: 18px;
    height: 18px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC) repeat
}

.ui-editor-panel .ui-editor-table-off {
    width: 180px;
    height: 180px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC) repeat
}

.ui-editor-panel .ui-editor-table-num {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #757575
}

.ui-editor-tool-left .ui-editor-icon {
    margin-right: 5px;
}

.ui-editor-tool-right .ui-editor-icon {
    margin-left: 5px;
}

.ui-editor-html {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.ui-editor-html iframe {
    border: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.ui-editor-code {
    display: none;
    overflow: hidden;
}

.ui-editor-code textarea {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 15px;
    overflow-y: scroll;
    font-size: 16px;
    resize: none;
    color: #363636;
    line-height: 24px;
    resize: none;
    outline: none;
}

.ui-editor-dragBg {
    position: absolute;
    width: 100%;
    bottom: 12px;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.ui-editor-drag {
    background: #fafafa;
    height: 12px;
    line-height: 12px;
    border-top: 1px solid #E5E7E9;
    cursor: s-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.ui-editor-popup {
    position: fixed;
    box-shadow: 0 2px 12px 2px rgba(68, 73, 77, 0.15);
    background: #fff;
    border: 1px solid #ddd;
    min-width: 50px;
    display: none;
    top: 0px;
    z-index: 990;
    line-height: 24px;
    border-radius: 4px;
    padding: 15px 20px 0 20px;
    color: #999;
}

.ui-editor-popup-link {
    display: flex;
    max-width: 360px;
}

.ui-editor-popup-open {
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.ui-editor-popup-open a {
    color: #206DF5;
}

.ui-editor-popup-open a:hover {
    text-decoration: underline;
}

.ui-editor-popup-mid {
    margin: 0 15px;
    width: 1px;
    background: rgba(0, 0, 0, 0.08);
    height: 14px;
    margin-top: 5px;
}

.ui-editor-popup-icon {
    display: inline-block;
    width: 30px;
    height: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

.ui-editor-popup-icon a i {
    font-size: 24px;
    color: #888;
}

.ui-editor-popup-icon a:hover i {
    color: #206DF5;
}

.ui-editor-popup-icon .ui-editor-popup-bgcolor {
    padding: 0;
    position: absolute;
    left: -20px;
    top: 30px;
    box-shadow: 0 2px 12px 2px rgba(68, 73, 77, 0.16);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    z-index: 100;
    display: none;
}

.ui-editor-popup:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-left: 0;
    border-bottom: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-right: 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.ui-editor-popup-icon .ui-editor-bgcolor-box {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 10px;
}

.ui-editor-popup-icon .ui-editor-bgcolor-box .ui-editor-bgcolor-item {
    height: 30px;
    margin: 0 0.5% 0.5% 0;
    width: 16%;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.ui-editor-popup-icon .ui-editor-bgcolor-box .ui-editor-bgcolor-item span {
    border: 1px solid #fff;
    padding: 3px;
    border-radius: 4px;
    display: block;
}

.ui-editor-popup-icon .ui-editor-bgcolor-box .ui-editor-bgcolor-item span i {
    width: 20px;
    height: 20px;
    display: block;
    border: 1px solid #f3f3f3;
}

.ui-editor-popup-icon .ui-editor-bgcolor-box .ui-editor-bgcolor-item span:hover {
    border-color: #eaeaea;
    box-shadow: 0 0px 6px 0px rgba(68, 73, 77, 0.1);
}

.ui-editor-popup-row {
    min-width: 60px;
    max-width: 60px;
    padding: 0;
}

.ui-editor-popup-row .ui-editor-popup-link {
    display: block;
}

.ui-editor-popup-row .ui-editor-popup-icon {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
}

.ui-editor-popup-row .ui-editor-popup-mid {
    height: 1px;
    width: 40px;
    margin: 5px 10px;
}

.ui-editor-popup-row:after {
    left: auto;
    right: -10px;
    top: 30px;
    transform: translateY(-50%) rotate(-225deg);
}

.ui-editor-popup-table .ui-editor-popup-link {
    max-width: 220px;
}

.ui-editor-popups {
    position: fixed;
    border: 4px solid #FFC83D;
    display: none;
    top: 0px;
    z-index: 0;
    line-height: 24px;
    border-radius: 4px;
    color: #999;
}

.ui-editor-popups .popup-after {
    position: absolute;
    bottom: -15px;
    right: 30px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFC83D;
    z-index: 990;
}

.ui-editor-form {
    padding: 20px;
}

.ui_editor_arrow {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+c2Vjb25kYXJ5X3NtYWxsYXJyb3c8L3RpdGxlPgogICAgPGcgaWQ9IuaOp+S7tiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IklDT04v6L6F5Yqp5bCP5Zu+5qCHL+i+heWKqeS/oeaBr+eureWktCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi4wMDAwMDAsIDIuMDAwMDAwKSI+CiAgICAgICAgICAgIDxyZWN0IGlkPSLnn6nlvaIiIHN0cm9rZT0iIzk3OTc5NyIgZmlsbD0iI0Q4RDhEOCIgb3BhY2l0eT0iMCIgeD0iMCIgeT0iMCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIj48L3JlY3Q+CiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSLot6/lvoQiIGZpbGw9IiNDQkNERDEiIHBvaW50cz0iNC44IDkgNCA4LjI1IDYuNCA2IDQgMy43NSA0LjggMyA4IDYiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: top;
    display: inline-block;
    margin: 3px;
    transform: rotate(90deg);
    color: #333;
}

.ui-editor-upload {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    opacity: 0;
    cursor: pointer;
}

.ui-editor-tips-show {
    display: inline-block;
    background: #348FE4;
    border: 1px solid #348FE4;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    word-break: break-all;
    z-index: 999;
    color: #fff;
    white-space: nowrap;
}

.ui-editor-tips-show:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 0;
    border-bottom: 0;
    background: #348FE4;
    border: 1px solid #348FE4;
    border-bottom: 0;
    border-right: 0;
}

.ui-editor-tips-show-top:after {
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(-140deg);
}

.ui-editor-tips-show-right:after {
    left: -6px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.ui-editor-tips-show-bottom:after {
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.ui-editor-tips-show-bottom-left:after {
    left: 10px;
    top: 0;
    transform: translateY(-50%) rotate(45deg);
}

.ui-editor-tips-show-top-left {
    background: #fff;
    border-color: #c4c4c4;
    color: #333;
}

.ui-editor-tips-show-top-left:after {
    left: 10px;
    top: 100%;
    transform: translateY(-50%) rotate(-140deg);
    background: #fff;
    border-color: #c4c4c4
}

.ui-editor-dialog-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .15);
    z-index: 998;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.ui-editor-dialog {
    z-index: 999;
    position: fixed;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background: #fff;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: all 0.2s linear;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.ui-editor-dialog-header {
    padding: 20px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
}

.ui-editor-dialog-header .ui-editor-dialog-title {
    flex: 1;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.ui-editor-dialog-header .ui-editor-dialog-close {
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    color: #999;
}

.ui-editor-dialog-header .ui-editor-dialog-close:hover {
    color: #000;
}

.ui-editor-dialog-body {
    padding: 20px 20px 5px 20px;
    max-height: 500px;
    overflow-y: auto;
    word-break: break-all;
}

.ui-editor-dialog-body .ui-form-ip {
    line-height: normal;
}

.ui-editor-dialog-body-input {
    padding-bottom: 6px;
}

.ui-editor-dialog-body-iframe {
    padding: 0;
    overflow: hidden;
    max-height: 100%;
    line-height: 0;
    margin: 0;
}

.ui-editor-dialog-body-iframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

.ui-editor-dialog-body-address {
    padding: 0;
    height: 300px;
    overflow: hidden;
}

.ui-editor-dialog-footer {
    padding: 10px 20px;
    text-align: right;
    border-top: 0 solid #f3f3f3;
}

.ui-editor-dialog-in {
    -webkit-animation-name: ui-dialogIn;
    animation-name: ui-dialogIn;
}

.ui-editor-dialog-out {
    -webkit-animation-name: ui-dialogOut;
    animation-name: ui-dialogOut;
    opacity: 0;
    transition: all 0.2s linear;
}

@keyframes ui-dialogIn {
    0% {
        transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ui-dialogOut {
    0% {
        transform: scale(1);
    }
    45% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(0.55);
    }
    100% {
        transform: scale(0);
    }
}

.ui-editor-form-group {
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
}

.ui-editor-form-group:last-child {
    margin-bottom: 0;
}

.ui-editor-form-ip {
    display: block;
    width: 100%;
    padding: 15px;
    color: #495057;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #DAE3F5;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: left;
    font-size: 15px;
}

.ui-editor-form-ip::-ms-expand {
    background-color: transparent;
    border: 0;
}

.ui-editor-form-ip:focus {
    color: #495057;
    background: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

.ui-editor-form-ip::-webkit-input-placeholder {
    color: #999;
}

.ui-editor-form-ip::-moz-placeholder {
    color: #999;
}

.ui-editor-form-ip:-ms-input-placeholder {
    color: #999;
}

.ui-editor-form-ip::-ms-input-placeholder {
    color: #999;
}

.ui-editor-form-ip::placeholder {
    color: #999;
}

.ui-editor-input-group {
    display: flex;
}

.ui-editor-input-group .ui-editor-form-ip {
    flex: 1;
}

.ui-editor-input-group .ui-editor-before {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 10px;
    color: #495057;
    border: 1px solid #DAE3F5;
    border-right: 0;
    background: #F6F9FF;
    border-radius: 4px 0 0 4px;
    white-space: nowrap;
    min-width: 80px;
    font-size: 15px;
}

.ui-editor-input-group .ui-editor-after {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 10px;
    color: #495057;
    border: 1px solid #DAE3F5;
    border-left: 0;
    background: #F6F9FF;
    border-radius: 0 4px 4px 0;
    white-space: nowrap;
    min-width: 80px;
    font-size: 15px;
    position: relative;
}

.ui-editor-input-group .ui-editor-radius-none {
    border-radius: 0;
}

.ui-editor-input-group .ui-editor-radius-left-none {
    border-radius: 0 4px 4px 0;
}

.ui-editor-input-group .ui-editor-radius-right-none {
    border-radius: 4px 0 0 4px;
}

.ui-editor-checkbox {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.ui-editor-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: none;
}

.ui-editor-checkbox input[type="checkbox"] + i {
    margin-right: 5px;
    font-style: normal;
    vertical-align: middle;
    display: inline-block;
}

.ui-editor-checkbox input[type="checkbox"] + i:after {
    width: 20px;
    height: 20px;
    border: 1px solid #1890FF;
    border-radius: 2px;
    display: inline-block;
    line-height: 20px;
    content: '';
    text-align: center;
    overflow: hidden;
    margin-top: 2px;
}

.ui-editor-checkbox input[type="checkbox"]:checked + i:after {
    content: '\e715';
    font-family: iconfont;
    background: #1890FF;
    color: #fff;
    border-color: #1890FF;
}

.ui-editor-checkbox input[type="checkbox"]:disabled + i:after {
    background: #f5f5f5;
    color: #999;
    border-color: #ddd;
}

.ui-editor-checkbox input[type="checkbox"]:checked:disabled + i:after {
    content: '\e715';
    font-family: iconfont;
    background: #f5f5f5;
    color: #999;
    border-color: #ddd;
}

.ui-editor-checkbox input[type="checkbox"]:disabled + i {
    cursor: not-allowed;
}

.ui-editor-checkbox:last-child {
    margin-right: 0;
}

.ui-editor-radio {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.ui-editor-radio input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: none
}

.ui-editor-radio input[type="radio"] + i {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    transition: all .3s ease 0s;
    margin-top: 2px;
}

.ui-editor-radio input[type="radio"] + i:after {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 4px;
}

.ui-editor-radio input[type="radio"]:checked + i {
    border-color: #1890FF;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.1);
}

.ui-editor-radio input[type="radio"]:checked + i:after {
    content: '';
    background: #1890FF;
}

.ui-editor-radio input[type="radio"]:disabled + i {
    border-color: #ddd;
    background: #F5F5F5;
    cursor: not-allowed;
}

.ui-editor-radio:last-child {
    margin-right: 0;
}

.ui-editor-row {
    display: flex;
    flex-wrap: wrap;
}

.ui-editor-ml {
    margin-left: 5px !important;
}

.ui-editor-mr {
    margin-right: 5px !important;
}

.ui-editor-mt {
    margin-top: 10px !important
}

.ui-editor-mb {
    margin-bottom: 10px !important
}

.ui-editor-pr {
    padding-right: 10px !important
}

.ui-editor-hide {
    display: none !important
}

.ui-editor-text-center {
    text-align: center !important;
}

.ui-editor-text-gray {
    color: #999 !important;
}

.ui-editor-btn {
    position: relative;
    display: inline-block;
    border: 1px solid #e0e0e0;
    padding: 0 20px;
    line-height: 42px;
    overflow: hidden;
    border-radius: 4px;
    color: #595959;
    background: #fff;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
}

.ui-editor-btn:hover {
    color: #40a9ff;
    border-color: #40a9ff;
    box-shadow: 2px 2px 10px 0 rgba(24, 144, 255, 0.2);
}

.ui-editor-btn-blue {
    background: #40A9FF;
    border-color: #40A9FF;
    color: #fff;
}

.ui-editor-btn-blue:hover {
    background: #0E92FE;
    border-color: #0E92FE;
    color: #fff;
}

.ui-editor-upload-btn {
    position: relative;
    display: inline-block;
}

.ui-editor-upload-choose {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.ui-editor-upload-body {
    height: 300px;
    overflow-y: auto;
    margin-top: 15px;
}

.ui-editor-upload-drop {
    height: 100%;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    cursor: pointer;
}

.ui-editor-upload-drop i {
    display: block;
    font-size: 30px;
    margin: 0 10px;
}

.ui-editor-upload-drop.active {
    border-color: #09F;
    color: #09f;
}

.ui-editor-upload-list {
}

.ui-editor-upload-list table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
}

.ui-editor-upload-list table tr {
    border-bottom: 1px solid #eaeaea;
}

.ui-editor-upload-list table th {
    font-weight: normal;
    line-height: 45px;
}

.ui-editor-upload-list table tr td {
    line-height: 45px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 220px;
    text-align: center;
}

.ui-editor-upload-list table tr td:first-child {
    color: #666;
    text-align: left;
}

.ui-editor-upload-list table tr td:last-child a {
    color: #206DF5;
}

.ui-editor-upload-list table tr td:last-child a:hover {
    color: #f30;
}

.ui-editor-upload-list table tr td span {
    color: #f30;
    cursor: pointer;
    display: inline-block;
}