<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">简介</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" placeholder="不填默认取内容前100字" name="about_me_desc">{:sysConfig('about','about_me_desc')}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">详情</label>
        <div class="layui-input-block">
            <div id="content">{:sysConfig('about','about_me')}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtnAbout">提交</button>
        </div>
    </div>
</div>
