<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label">博客LOGO</label>
        <div class="layui-input-block">
            <div class="layui-input-block">
                <div class="layuimini-upload-btn ">
                    <button type="button" class="layui-btn" id="logo_uploadImg">上传博客LOGO</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" src="{:sysConfig('logo','site_blog_logo')}">
                        <input type="hidden" name="site_blog_logo" value="">
                    </div>
                    <div style="width: 95px;">
                        <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="logo_uploadImg-progress">
                            <div class="layui-progress-bar" lay-percent=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">后台LOGO</label>
        <div class="layui-input-block">
            <div class="layui-input-block">
                <div class="layuimini-upload-btn ">
                    <button type="button" class="layui-btn" id="logo_uploadImg2">上传后台LOGO</button>
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" src="{:sysConfig('logo','site_admin_logo')}">
                        <input type="hidden" name="site_admin_logo" value="">
                    </div>
                    <div style="width: 95px;">
                        <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="logo_uploadImg2-progress">
                            <div class="layui-progress-bar" lay-percent=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtnLogo">提交</button>
        </div>
    </div>

</div>