<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">博客title</label>
        <div class="layui-input-block">
            <input type="text" name="site_name" class="layui-input" lay-verify="required" placeholder="请输入站点名称" value="{:sysConfig('site','site_name','我的博客')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">博客keywords</label>
        <div class="layui-input-block">
            <input type="text" name="site_keywords" class="layui-input" lay-verify="required" placeholder="请输入站点关键词" value="{:sysConfig('site','site_keywords','博客,blog')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">博客description</label>
        <div class="layui-input-block">
            <input type="text" name="site_description" class="layui-input" lay-verify="required" placeholder="请输入站点描述" value="{:sysConfig('site','site_description','这是一个简单的Blog程序，欢迎你来到这里。')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">浏览器图标</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="site_uploadImg">上传浏览器图标,ico类型</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" src="{:sysConfig('site','site_ico')}">
                    <input type="hidden" name="site_ico" value="{:sysConfig('site','site_ico')}">
                </div>
                <div style="width: 95px;">
                    <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="site_uploadImg-progress">
                        <div class="layui-progress-bar" lay-percent=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">版本信息</label>
        <div class="layui-input-block">
            <input type="text" name="site_version" class="layui-input" placeholder="请输入备案信息" value="{:sysConfig('site','site_version','1.0.0')}">
            <tip>静态资源版本号，修改可以获取最新的样式</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备案信息</label>
        <div class="layui-input-block">
            <input type="text" name="site_icp" class="layui-input" placeholder="请输入备案信息" value="{:sysConfig('site','site_icp','闽ICP-XXXXXX')}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">统计代码</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" placeholder="请输入统计代码,cnzz或者百度统计" name="site_tongji">{:sysConfig('site','site_tongji')}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtnSite">提交</button>
        </div>
    </div>

</div>
