<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">存储方式</label>
        <div class="layui-input-block">
            {foreach ['local'=>'本地存储','oss'=>'阿里云oss','cos'=>'腾讯云cos'] as $key=>$val}
            <input type="radio" v-model="upload_type" name="upload_type" lay-filter="upload_type" value="{$key}" title="{$val}" {if $key==sysConfig('upload','upload_type')}checked=""{elseif $key=='local'}checked=""{/if}>
            {/foreach}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">允许类型</label>
        <div class="layui-input-block">
            <input type="text" name="upload_allow_ext" class="layui-input" lay-verify="required" lay-reqtext="请输入允许类型" placeholder="请输入允许类型" value="{:sysConfig('upload','upload_allow_ext','xbm,tif,pjp,svgz,jpg,jpeg,ico,tiff,gif,svg,jfif,webp,png,bmp,pjpeg,avif')}">
            <tip>英文逗号做分隔符。</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">允许大小</label>
        <div class="layui-input-block">
            <input type="text" name="upload_allow_size" class="layui-input" lay-verify="required" lay-reqtext="请输入允许上传大小" placeholder="请输入允许上传大小" value="{:sysConfig('upload','upload_allow_size',10485760)}">
            <tip>设置允许上传大小，10485760 等于 10M</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'oss'" v-cloak>
        <label class="layui-form-label required">accessKeyId</label>
        <div class="layui-input-block">
            <input type="text" name="oss_access_key_id" class="layui-input" lay-verify="required" lay-reqtext="请输入公钥信息" placeholder="请输入公钥信息" value="{:sysConfig('upload','oss_access_key_id')}">
            <tip>例子：XXXXshu64642THSk</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'oss'" v-cloak>
        <label class="layui-form-label required">accessKeySecret</label>
        <div class="layui-input-block">
            <input type="text" name="oss_access_key_secret" class="layui-input" lay-verify="required" lay-reqtext="请输入私钥信息" placeholder="请输入私钥信息" value="{:sysConfig('upload','oss_access_key_secret')}">
            <tip>例子：xxxxxYKkFSGGshu64642THSkmTInaIm</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'oss'" v-cloak>
        <label class="layui-form-label required">endpoint</label>
        <div class="layui-input-block">
            <input type="text" name="oss_endpoint" class="layui-input" lay-verify="required" lay-reqtext="请输入数据中心" placeholder="请输入数据中心" value="{:sysConfig('upload','oss_endpoint')}">
            <tip>例子：http://oss-cn-shenzhen.aliyuncs.com [此处请以 http:// 开头，切记]</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'oss'" v-cloak>
        <label class="layui-form-label required">bucket</label>
        <div class="layui-input-block">
            <input type="text" name="oss_bucket" class="layui-input" lay-verify="required" lay-reqtext="请输入空间名称" placeholder="请输入空间名称" value="{:sysConfig('upload','oss_bucket')}">
            <tip>例子：my-blog</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'oss'" v-cloak>
        <label class="layui-form-label required">访问域名</label>
        <div class="layui-input-block">
            <input type="text" name="oss_domain" class="layui-input" lay-verify="required" lay-reqtext="请输入访问域名" placeholder="请输入访问域名" value="{:sysConfig('upload','oss_domain')}">
            <tip>例子：my-blog.oss-cn-shenzhen.aliyuncs.com</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'cos'" v-cloak>
        <label class="layui-form-label required">SecretId</label>
        <div class="layui-input-block">
            <input type="text" name="cos_secret_id" class="layui-input" lay-verify="required" lay-reqtext="请输入公钥信息" placeholder="请输入公钥信息" value="{:sysConfig('upload','cos_secret_id')}">
            <tip>例子：AKIDta6OQCbALQGrCI6ngKwQffR3dfsfrwrfs</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'cos'" v-cloak>
        <label class="layui-form-label required">SecretKey</label>
        <div class="layui-input-block">
            <input type="text" name="cos_secret_key" class="layui-input" lay-verify="required" lay-reqtext="请输入私钥信息" placeholder="请输入私钥信息" value="{:sysConfig('upload','cos_secret_key')}">
            <tip>例子：VllEWYKtClAbpqfFdTqysXxGQM6dsfs</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'cos'" v-cloak>
        <label class="layui-form-label required">region</label>
        <div class="layui-input-block">
            <input type="text" name="cos_region" class="layui-input" lay-verify="required" lay-reqtext="请输入存储桶地域" placeholder="请输入存储桶地域" value="{:sysConfig('upload','cos_region')}">
            <tip>例子：ap-guangzhou</tip>
        </div>
    </div>

    <div class="layui-form-item" v-if="upload_type == 'cos'" v-cloak>
        <label class="layui-form-label required">bucket</label>
        <div class="layui-input-block">
            <input type="text" name="cos_bucket" class="layui-input" lay-verify="required" lay-reqtext="请输入存储桶名称" placeholder="请输入存储桶名称" value="{:sysConfig('upload','cos_bucket')}">
            <tip>例子：xxx-1251997243</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtnUpload">提交</button>
        </div>
    </div>
</div>
<script>
    let index_url = (location.hash).replace('#', '');
    let edit_url = index_url.replace('/index', '/edit');
    let upload_type = "{:sysConfig('upload','upload_type')}";
    if (!upload_type) upload_type = 'local'
    layui.use(['form', 'upload', 'element', 'laydate', 'table'], function () {
        let form = layui.form;
        let app = new Vue({
            el: '#app',
            data: {
                upload_type: upload_type
            }
        });
        form.on("radio(upload_type)", function (data) {
            app.upload_type = this.value;
        });
        form.on('submit(saveBtnUpload)', function (data) {
            let url = edit_url + '?type=upload'
            fetchApi(url, data.field, true, true)
            return false;
        });
    });

</script>