{layout name="default" /}
<div class="akea-page-wrapper" id="akea-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-sidebar-wrapper ">
            <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                <div class="sitemap">当前位置：<a href="/">首页</a> &gt;关于我</div>
                <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left">
                    <div class="gdlr-core-pbf-sidebar-content-inner" data-skin="Blog List">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                        <div class="akea-single-article-title-wrap akea-align-center">
                                            <header class="akea-single-article-head clearfix">
                                                <div class="akea-single-article-head-right">
                                                    <h1 class="akea-single-article-title">关于我</h1>
                                                </div>
                                            </header>
                                        </div>
                                        <div class="akea-single-article-content">{$info.about_me|raw}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height">
                    <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                        {include file='public/popular_article' /}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>