{layout name="default" /}
<div class="akea-page-wrapper" id="akea-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-sidebar-wrapper ">
            <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                <div class="sitemap">当前位置：<a href="/">首页</a> &gt;<a href="/category/{$info.category_id}/">{$category[$info.category_id]|default='-'}</a> &gt; {$info.title}</div>
                <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left">
                    <div class="gdlr-core-pbf-sidebar-content-inner" data-skin="Blog List">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                                <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                        <div class="akea-single-article-title-wrap akea-align-center">
                                            <header class="akea-single-article-head clearfix">
                                                <div class="akea-single-article-head-right">
                                                    <h1 class="akea-single-article-title">{$info.title}</h1>
                                                    <div class="akea-blog-info-wrapper">
                                                        <div class="akea-blog-info akea-blog-info-font akea-blog-info-tag ">
                                                            <a href="javascript:;">{$info.article_date}</a>
                                                        </div>
                                                        <div class="akea-blog-info akea-blog-info-font akea-blog-info-tag ">
                                                            <a href="/category/{$info.category_id}">{$category[$info.category_id]}</a>
                                                        </div>
                                                        <div class="akea-blog-info akea-blog-info-font akea-blog-info-comment-number">
                                                            <span class="akea-head"><i class="fa fa-clipboard"></i></span>{$info.click}
                                                        </div>
                                                    </div>
                                                </div>
                                            </header>
                                        </div>
                                        <div class="akea-single-article-content">{$info.content|raw}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="akea-single-related-post-wrap akea-item-rvpdlr"><h3 class="akea-single-related-post-title akea-item-mglr">相关文章</h3>
                        <div class="gdlr-core-blog-item-holder clearfix">
                            {volist name='more' id='vo'}
                            <div class="gdlr-core-item-list gdlr-core-item-pdlr gdlr-core-column-30">
                                <div class="gdlr-core-blog-grid ">
                                    <div class="gdlr-core-blog-thumbnail-wrap clearfix">
                                        <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                            <a href="/info/{$vo.id}/"><img src="/static/images/loading.gif" data-src="{$vo.img}"></a>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-blog-grid-content-wrap">
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_a1c3_0">
                                            <a href="/info/{$vo.id}/">{$vo.title}</a>
                                        </h3>
                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                <a href="/info/{$vo.id}/">{$vo.article_date}</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>

                </div>
                <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  akea-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" data-skin="Blog List">
                    <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                        {include file='public/about_me' /}
                        {include file='public/popular_article' /}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>