@font-face {
    font-family: "iconfont"; /* Project id 2609149 */
    src: url('/static/template_002/css/web/alicdn_font.woff2?t=1.0.1') format('woff2'),
    url('/static/template_002/css/web/alicdn_font.woff?t=1.0.1') format('woff'),
    url('/static/template_002/css/web/alicdn_font.ttf?t=1.0.1') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fasong:before {
    content: "\e664";
}

.icon-navigation1:before {
    content: "\e6ae";
}

.icon-dian:before {
    content: "\e6d3";
}

.icon-yellow:before {
    content: "\e765";
}

.icon-share:before {
    content: "\e604";
}

.icon-green:before {
    content: "\e602";
}

.icon-blue:before {
    content: "\e609";
}

.icon-red:before {
    content: "\e62f";
}

.icon-icon-test:before {
    content: "\e658";
}

.icon-icon-test1:before {
    content: "\e659";
}

.icon-qianbao:before {
    content: "\e60d";
}

.icon-xin:before {
    content: "\e63f";
}

.icon-share_down:before {
    content: "\e67f";
}

.icon-like:before {
    content: "\e79d";
}

.icon-ttww:before {
    content: "\e617";
}

.icon-ziyuan:before {
    content: "\e610";
}

.icon-caidan1:before {
    content: "\e640";
}

.icon-menu-fill:before {
    content: "\e62a";
}

.icon-qq:before {
    content: "\e62d";
}

.icon-weixin:before {
    content: "\e7e5";
}

.icon-weibo:before {
    content: "\e67a";
}

.icon-pinglun1:before {
    content: "\e6ba";
}

.icon-navigation:before {
    content: "\e64c";
}

.icon-pinglun:before {
    content: "\e7f5";
}

.icon-biaoqian:before {
    content: "\e877";
}

.icon-zan:before {
    content: "\e601";
}

.icon-huo:before {
    content: "\e62e";
}

.icon-guanbi:before {
    content: "\e60f";
}

.icon-book-mark:before {
    content: "\e61b";
}

.icon-heng:before {
    content: "\eb19";
}

.icon-shangyinhao:before {
    content: "\e600";
}

.icon-chakan:before {
    content: "\e603";
}

.icon-moon_circle:before {
    content: "\e701";
}
