{layout name="layout/layout" /}
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auths('blog/category/add')}"
               data-auth-edit="{:auths('blog/category/edit')}"
               data-auth-delete="{:auths('blog/category/delete')}"
               data-auth-stock="{:auths('blog/category/stock')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>

<script>
    let statusSelect = JSON.parse('{$notes.status|json_encode=256|raw}')
    let targetSelect = JSON.parse('{$notes.target|json_encode=256|raw}')
</script>